name: Close Labeled PRs

on:
  pull_request:
    types: [labeled]

jobs:
  close-pr:
    if: github.event.label.name == 'close'
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Close PR
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              state: 'closed'
            });